body {
    background: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial, sans-serif;  
    color: #fff;  
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


.table th, .table td {
    text-align: center;
    padding: 12px;
    border: 2px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}




.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #3498db;
}


.input-text {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.gradient-background {
    background: linear-gradient(to bottom, #3498db, #2980b9);
}

