.styled-button {
    background-color: #0074d9;
    color: white;
    border: none; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #0056b3; 
}
body {
    margin-top: 1cm;
    background: linear-gradient(to bottom, #0074d9, #0056b3);
}

h2 {
    font-size: 24px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    background: linear-gradient(to right, #0074d9, #0056b3); 
    -webkit-background-clip: text;
    color: transparent; 
    display: inline; 
}
.filterd_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


.table th, .table td {
    text-align: center;
    padding: 12px;
    border: 2px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}




.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #3498db;
}


.input-text {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
#gradient-background
{
    background: linear-gradient(to bottom, #3498db, #2980b9);
}

