.styled-button {
    background-color: #0074d9; /* 设置按钮背景颜色 */
    color: white; /* 设置文字颜色 */
    border: none; /* 去除按钮边框 */
    padding: 10px 20px; /* 设置内边距，增加按钮大小 */
    border-radius: 4px; /* 圆角边框 */
    cursor: pointer; /* 鼠标悬停样式 */
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.styled-button:hover {
    background-color: #0056b3; /* 鼠标悬停时的背景颜色 */
}
body {
    margin-top: 1cm;
    background: linear-gradient(to bottom, #0074d9, #0056b3); /* 渐变的颜色和方向 */
}

h2 {
    font-size: 24px; /* 调整文字大小 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 文字阴影效果 */
    background: linear-gradient(to right, #0074d9, #0056b3); /* 文字渐变背景 */
    -webkit-background-clip: text; /* 设置背景裁剪为文字 */
    color: transparent; /* 隐藏文字颜色 */
    display: inline; /* 保持行内块级元素的布局 */
}
.filterd_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


.table th, .table td {
    text-align: center;
    padding: 12px;
    border: 2px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}




.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #3498db;
}


.input-text {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
#gradient-background
{
    background: linear-gradient(to bottom, #3498db, #2980b9);
}

