@using WebMatrix.Data

@{
    var db = Database.Open("AmazonOrders");

    var sql = "SELECT * FROM actor";

    var output = db.Query(sql);

}

@foreach(var i in output){
    @i.actorname
}

<h2>All Movies</h2>
<form method="get" action="/Index?cardid=1">
    <input type="string" value="Search" />
    <button class="btn">Search</button>
    <div class="row">
        <div class="row">
            <div class="col-3 justify-content-center">
                @foreach (var row in output)
                {

                <div class="card">
                <img src="@row.imageURL" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">@row.cardName</h5>
                <p class="card-text">@row.oracleText</p>
                <a href="/Home/Index?=row.cardID" class="btn btn-primary">Details</a>
                </div>
                </div>
                }
            </div>
        </div>
</form>